node_modules/
dist/
build/
.env
.env.local
.env.*.local
.cache/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
/.pnp
.pnp.js
/.parcel-cache
/.next
/.vite
/.turbo
logs
*.log
pnpm-debug.log*
package-lock.json
yarn.lock
